<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super Epic Review Aggregator</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/review_aggregator.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="javascripts/review_aggregator.js"></script>
</head>
<body>
  <header></header>
  <main>

    <section id="search-section">
      <form action="/search" method="post">
        <input name="term" id="search-bar" type="search" placeholder="Business name">
        <input name="location" id="location-bar" type="search" placeholder="City or zip">
        <input type="submit" value="search">
        <input type="button" value="clear">
      </form>
    </section>

    <section id="results">
      <% if @results %>
          <% @results.each do |business| %>
            <ul>
              <li><a href='/view/<%= business.id %>'><%= business.name %></a></li>
              <li><span>Rating:</span> <%= business.rating %> (<%= business.review_count %>) <img src=<%= business.rating_img_url %>></img></li>
              <li><span>Address:</span> <%= business.location.display_address.join(', ') %></li>
              <li><span>Phone:</span> <%= business.display_phone %></li>
            </ul>
          <% end %>
      <% end %>
    </section>

  </main>
  <footer></footer>
</body>
</html>
