<!-- Use this ERB template to render the detailed results from clicking on one listing -->
<div id="aggreaget-wrapper">

  <section id="aggregate-info">
    <span><%= @yelp_biz.name %></span>

    <section id="aggregate-rating">
      <img src="<%= @yelp_biz.rating_img_url %>" >
      <%= @yelp_biz.rating %> (<%= @yelp_biz.review_count %> Reviews)
    </section>
    
    <section id="address-phone">
      <span id="aggregate-address"><%= @yelp_biz.location.display_address.join(", ") %></span>
      <span id="aggregate-phone"><%= @yelp_biz.display_phone %></span>
    </section>
  </section>
  
  <section id="aggregate-sites">
    <ul>
        <li id="yelp-rating">
          <img src="" id="yelp-logo-button" > <!-- yelp logo -->
          <img src="<%= @yelp_biz.rating_img_url %>" >
          <%= @yelp_biz.rating %> (<%= @yelp_biz.review_count %> Reviews)
          <a href="" target="_blank">See Reviews on Yelp! ></a>
        </li>

        <li id="google-rating">
          <img src="" id="google-logo-button" > <!-- google logo-->
          <img src="" >
          <%= calc_google_rating(@google_biz) %> (<%= @google_biz.reviews.size %> Reviews)
          <a href="<%= @google_biz.url %>" target="_blank">See Reviews on Google ></a>
        </li>

        <li id="fb-rating">
          <img src="" id="fb-logo-button" > <!-- facebook logo -->
        </li>
    </ul>
  </section>

</div>

